.knowledge-graph-container {
    padding-top: 100px;
    width: 100%;
    height: 100vh;
}
.knowledge-graph-fg {
    float:left;
    width: 20%;
    height: 300px;
}
.knowledge-graph-bg {
    float:left;
    width: 80%;
    height: 100vh;
}


.knowledge-pic {
    width: 100%;
    padding: 10%;
}

.knowledge-name {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
}

.knowledge-instituion {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
}


.kg-connect {
  width: 80% !important;
  margin: 10% !important;
}

.kg-footer {
  z-index: -1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  padding:10px;
  background: white;
}
