.Navbar-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 100;
}

.Navbar-logo {
    margin-left: 50px;
}

.Navbar-search {
    margin-left: 5px;
    border: none;
    font-size: 25px;
    border-radius: 10px;
    width: 200px;
}

.Navbar-search:focus {
    border: 1px solid black;
}

.Navbar-items {
    list-style: none;
    display: flex;
    margin-right: 100px;
}

.Navbar-items li {
    margin-left: 50px;
}

.Navbar-drawer {
    text-align: center;
}

.Navbar-drawer img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

.Navbar-drawer button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

